# Leiningen
/target
/pom.xml
/project.clj.swp
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.lein-resolve-log
.lein-classpath

# Clojure
/.nrepl-port
/classes/

# Editor
.idea/
*.iml
.ensime_cache/
.eunit/
.dir-locals.el
*~
*#
.#*
